@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Josefin+Sans:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: inter, sans-serif;
  background-color: black;
  color: white;
  font-size: 12px;
  min-height: 100vh;
}

img {
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.container {
  max-width: 540px;
  margin: 0 auto;
  padding-inline: 2.5rem;
  text-align: center;
  margin-top: 3.5rem;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-block: 20px;
}

textarea {
  background: #444059;
  width: 100%;
  border-radius: 8px;
  outline: none;
  padding: 12px 19px;
  font-family: inherit;
  border: none;
  caret-color: #8f8f8f;
  color: #8f8f8f;
  font-size: 15px;
}

button {
  display: inline-block;
  width: 100%;
  background-color: #28a9f1;
  border-radius: 8px;
  font-size: 22px;
  color: black;
  font-weight: bold;
  font-family: 'Josefin Sans';
  padding-block: 20px;
  border: none;
  margin-bottom: 28px;
  cursor: pointer;
}

h2 {
  font-family: 'Josefin Sans';
  font-size: 20px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  gap: 20px;
}

input {
  background-color: #444059;
  border: none;
  border-radius: 8px;
  padding-block: 15px;
  width: 100%;
  margin-block: 9px;
  text-align: center;
  outline: none;
  caret-color: #8f8f8f;
  color: #8f8f8f;
}

#itemList {
  list-style: none;
  text-align: left;
  padding: 0;
}

#itemList li {
  position: relative;
  background-color: white;
  color: black;
  padding: 14px;
  margin-bottom: 15px;
}

#itemList p {
  margin-block: 13px 10px;
}

#itemList .details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#itemList li span {
  color: black;
  font-family: Inter;
  font-weight: 700;
}

#itemList i {
  cursor: pointer;
}

#itemList .delete {
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 1rem;
}
